<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>AlgoLib</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="icon" href="./favicon.ico">
        <link rel="stylesheet" href="stylesheets/algorithms.css">
    </head>
    <body>
        <div class="content">
            <div class="search-header">
                <div >
                    <input class="search-input" type="text" placeholder="Algorithm search">
                </div>    
                <div >
                    <input class="search-button" type="button" value="GO">
                </div>
                <div class="logo">
                    <img src="./images/logoblack.png" alt="Algolib logo" height="70px">
                </div>
            </div>
            <div class="algo-body">
                <div class="algo-listing">
                    <div class="algo-box">
                        <h3 class="algo-name">Algorithm name</h3>
                        <p class="algo-description">Algorithm description</p>
                        <div class="pill-box">
                            <p class="pill-box-item">Algorithm price:<br> 95 credits</p>
                            <p class="pill-box-item">Time to run:<br> 2.45s</p>
                            <p class="pill-box-item">Rating:<br> 9.6</p>
                        </div>
                        <div class="dev-summary">
                            <p class="api-calls">API calls: 171 293</p>
                            <p class="date-created">Date created: 19 Dec 2017</p>
                            <p class="author">Author: Simon</p>
                        </div>
                    </div>
                </div>
                <div class="right-sidebar">
                    <div class="sort-bar">
                            <h3>Sort by:</h3>
                    </div>
                    
                    <div class="tag-container">
                      <div class="tag-box">  
                        <p class="algo-cat">Machine learning</p>
                        <p class="algo-cat">Data analytics</p>
                        <p class="algo-cat">Blockchain</p>
                        <p class="algo-cat">Logistics</p>
                        <p class="algo-cat">Risk modelling</p>
                      </div>
                      <div>
                          <input class="new-algo-cat" type="text" placeholder="Please add tag here...">
                      </div>  
                    </div>
                    <div class="right-sidebar-bottom">
                        <div class="cat-bar">
                            <div class="cat-icon">
                                <img class="cat-img" src="/images/presentation.png" alt="algorithm icon" height="30" width="30"><p>Numerical methods</p>
                            </div>
                            <div class="cat-icon">
                                <img class="cat-img" src="/images/chemistry.png" alt="algorithm icon" height="30" width="30"><p>Machine Learning</p>
                            </div>
                            <div class="cat-icon">
                                <img class="cat-img" src="/images/learning.png" alt="algorithm icon" height="30" width="30"><p>Deep Learning</p>
                            </div>
                            <div class="cat-icon">    
                                <img class="cat-img" src="/images/science.png" alt="algorithm icon" height="30" width="30"><p>Quantitative Solutions</p>
                            </div>
                            <div class="cat-icon">
                                <img class="cat-img" src="/images/algorithm.png" alt="algorithm icon" height="30" width="30"><p>Big Data Analytics</p>
                            </div>    
                        </div>
                        <div class="footer">
                            <div class="footer-li">
                                <p><a href="/algorithms">Algorithms</a> | Community | <a href="/login">Sign in</a></p>             
                            </div>
                            <div class="footer-terms">
                                <p>(c) 2016 - 2018 AlgoLib LTD | About us</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="javascripts/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>