<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>AlgoLib</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="icon" href="./favicon.ico">
        <link rel="stylesheet" href="stylesheets/algorithms.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/brands.js" integrity="sha384-sCI3dTBIJuqT6AwL++zH7qL8ZdKaHpxU43dDt9SyOzimtQ9eyRhkG3B7KMl6AO19" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="content">
            <div class="search-header">
                <div >
                    <input class="search-input" type="text" placeholder="Algorithm search">
                </div>    
                <div >
                    <input class="search-button" type="button" value="GO">
                </div>
                <div class="logo">
                    <img src="./images/logoblack.png" alt="Algolib logo" height="70px">
                </div>
            </div>
            <div class="algo-body">
                <div class="algo-listing">
                    <div class="algo-box">
                        <div class="algo-box-header">
                            <div>
                                <h3 class="algo-name">Fraud detection in cash transfer</h3>
                            </div>
                            <div class="plus-expand">
                                <div class="add-to-cart tooltip">+<span class="tooltiptext">Add to algorithm cart</span></div>
                                <div class="collapse">&#x25B2;</div>
                                <div class="expand">&#x25BC;</div>
                            </div>
                        </div>
                        <div class="algo-box-body">
                            <div class="algo-box-text">
                                <p class="algo-description">Checking suspicious cash flow in one API call, 
                                        using BoE credit database and RNN algorithms. Note this call using CPU only, 
                                        GPU support will be provided in the next version. </p>
                                <div class="pill-box">
                                    <p class="pill-box-item">Algorithm price:<br> 95 credits</p>
                                    <p class="pill-box-item">Time to run:<br> 2.45s</p>
                                    <p class="pill-box-item">Rating:<br> 9.6</p>
                                </div>
                                <div class="dev-summary">
                                    <p class="api-calls">API calls: 171 293</p>
                                    <p class="date-created">Date created: 19 Dec 2017</p>
                                    <p class="author">Author: Simon</p>
                                </div>
                            </div>
                            <div class="algo-box-img">
                                <img src="/images/fraud.png" alt="fraud detection graph" height="220" width="260" >
                            </div>              
                        </div>
                    </div>
                    <div class="algo-box">
                        <div class="algo-box-header">
                            <div>
                                    <h3 class="algo-name">Fraud detection in cash transfer</h3>
                                </div>
                                <div class="plus-expand">
                                    <div class="add-to-cart tooltip">+<span class="tooltiptext">Add to algorithm cart</span></div>
                                    <div  class="collapse" data-id="1">&#x25B2;</div>
                                    <div  class="expand" data-id="1">&#x25BC;</div>
                                </div>                        
                            </div>
                        <div class="algo-box-body">
                            <div class="algo-box-text">
                                <p class="algo-description">Find the optimal weights for assets to construct a portfolio 
                                    in terms of the Sparpe Ratio.</p>
                                <div class="pill-box">
                                    <p class="pill-box-item">Algorithm price:<br> 50 credits</p>
                                    <p class="pill-box-item">Time to run:<br> 4.85s</p>
                                    <p class="pill-box-item">Rating:<br> 9.6</p>
                                </div>
                                <div class="dev-summary">
                                    <p class="api-calls">API calls: 171 293</p>
                                    <p class="date-created">Date created: 19 Dec 2017</p>
                                    <p class="author">Author: Simon</p>
                                </div>
                            </div>
                            <div  class="algo-box-img" data-id="1">
                                <img src="/images/portfolio.png" alt="efficient portfolio graph" height="220" width="260" >
                            </div>              
                        </div>
                    </div>    
                </div>
                <div class="right-sidebar">
                    <div class="sort-bar">  
                        <div class="dropdown">
                            <button class="dropbtn" onclick="dropDown()">Sort by
                                <i class="fas fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content" id="sortDropdown">
                                <p>Recently created</p>
                                <p>Rating</p>
                                <p>Price</p>
                            </div>
                        </div>
                    </div>        
                    <div class="tag-container">
                      <div class="tag-box">  
                        <p class="algo-cat">Machine learning</p>
                        <p class="algo-cat">Data analytics</p>
                        <p class="algo-cat">Blockchain</p>
                        <p class="algo-cat">Logistics</p>
                        <p class="algo-cat">Risk modelling</p>
                      </div>
                      <div>
                          <input class="new-algo-cat" type="text" placeholder="Please add tag here...">
                      </div>  
                    </div>
                    <div class="add-algo">
                        <div class="plus-sign"><span>+</span></div><p>Add algorithms</p>
                    </div>
                    <div class="right-sidebar-bottom">
                        <div class="cat-bar">
                            <div class="cat-icon">
                                <img class="cat-img" src="/images/presentation.png" alt="algorithm icon" height="30" width="30"><p>Numerical Methods</p>
                            </div>
                            <div class="cat-icon">
                                <img class="cat-img" src="/images/chemistry.png" alt="algorithm icon" height="30" width="30"><p>Machine Learning</p>
                            </div>
                            <div class="cat-icon">
                                <img class="cat-img" src="/images/learning.png" alt="algorithm icon" height="30" width="30"><p>Deep Learning</p>
                            </div>
                            <div class="cat-icon">    
                                <img class="cat-img" src="/images/science.png" alt="algorithm icon" height="30" width="30"><p>Quantitative Solutions</p>
                            </div>
                            <div class="cat-icon">
                                <img class="cat-img" src="/images/algorithm.png" alt="algorithm icon" height="30" width="30"><p>Big Data Analytics</p>
                            </div>    
                        </div>
                        <div class="footer">
                            <div class="footer-li">
                                <p><a href="/algorithms">Algorithms</a> | Community | <a href="/login">Sign in</a></p>             
                            </div>
                            <div class="footer-terms">
                                <p>(c) 2016 - 2018 AlgoLib LTD | About us</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="javascripts/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>