html, body {
    height: 100%;
    font-family: 'Arimo', sans-serif;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    display:flex;
    flex-direction: column;
    background-color: white;
   }

.content {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 0 auto;
}
.search-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.search-input {
    font-family: inherit;
    color: black;
    height: 50px;
    width: 300px;
    background-color: lightgray;
    font-size: 18px;
    padding: 0px 10px;
    margin: 10px 10px;
    border:none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.search-button {
    font-family: inherit;
    height: 50px;
    letter-spacing: 1px;
    border-radius: 2px;
    padding:0px 10px;
    font-size: 18px;
    font-weight: 500;
    color:white;
    margin:10px 10px;
    background-color: #004d62; 
    border:none; 
    outline:none;
    cursor: pointer;
  }

/* Everything related to the search results/listing */

  .algo-body {
    display: flex;
    height: 90vh;
  }

  .algo-listing {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 15px;
    flex: 1 1 auto;
    overflow: auto;
  }



/* Don't display scrollbar in algo-body (only Chrome) */  
  ::-webkit-scrollbar {
    display: none;
    }


  .algo-box {
      background-color: lightgray;
      border-radius: 2px;
      margin: 10px 10px 10px 10px;
      padding: 10px 10px;
      width: 650px;
  }

  .algo-box-header, .plus-expand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
  }

  .add-to-cart {
      font-size: 26px;
      color:lightgray;
      background-color: darkgray;
      padding: 0px 6px;
      margin: 2px 2px;
  }

  .expand, .collapse {
    font-size: 26px;
    color: lightgray;
    background-color: darkgray;
    padding: 0px 2px;
    margin: 2px 2px;
    cursor: pointer;
  }

  .algo-box-body {
    display: flex;
    flex-direction: row;
  }

  .pill-box {
      display: flex;
  }

  .pill-box-item {
      background-color: darkgray;
      padding:10px 7px;
      margin: 3px 3px;
  }

  .dev-summary {
      display: flex;
      font-size: 0.8em;
  }

  .dev-summary p {
      padding: 0px 5px;
  }

/* Everything related to the right sidebar */

  .right-sidebar {
    display:flex;
    flex-direction: column;
    flex: 0 0 320px;
    height: 88vh;
  }

  .sort-bar {
      display: flex;
      flex-direction: row;
      
  }

  

/*Dropdown menu*/
.dropdown {
    float: left;
    overflow: hidden;
    margin-left: 7px;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    color: black;
    padding: 5px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 10px 5px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content p {
    float: none;
    color: black;
    padding: 5px 10px;
    margin:0;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content p:hover {
    background-color: #ddd;
}

.show {
    display: block;
}  

  .algo-cat {
    background-color: darkgrey;
    color: white;
    padding:2px 2px;
    margin: 2px 2px;
}

.new-algo-cat {
    font-family: inherit;
    background-color: darkgray;
    color: black;
    font-size: 16px;
    padding:3px 3px;
    margin: 25px 2px 0px 2px;
    border:none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.new-algo-cat::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.tag-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-content: space-between;
    background-color: lightgray;
    border-radius: 2px;
    margin: 10px 10px;
    padding: 10px 10px;
}

.tag-box {  
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    align-content: flex-start;
  }


/* Add algorithms button */

.add-algo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 10px;
}

.add-algo p {
    margin: 10px 0px;
    padding: 15px 0px;
}

.plus-sign {
    display: block;
    background-color: darkgray;
    color: white;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    font-size: 75px;
    margin: 10px 10px;
}

.plus-sign span {
    position: relative;
    top: -17px;
    left: 3px;

}


  .footer {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:black;
    letter-spacing: 1px;
    margin: 5px 5px 10px 5px;
}
.footer-li {
    align-self: center;
  }

.footer-li p {
  margin-bottom: 0;
}
.footer-terms {
    align-self: center;
}
.footer-terms p {
    margin:5px 2px 2px 2px;
    font-size: 14px;
}

a {
  text-decoration: none;
  color:inherit;
}


/*displaying the icons and categories on the Algorithm page right sidebar */
.cat-bar {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex: 1 0 auto;
    
}

.cat-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 10px;
    height: 40px;
}

.cat-img {
    margin: 3px 5px;
}

.right-sidebar-bottom {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-content: flex-end;
}

/* Media queries */

@media (max-width: 768px) {
    .algo-body {
      flex-wrap: wrap
    }
}


/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    font-size: 14px;
    width: 120px;
    background-color: darkgrey;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}